{% extends 'MasterPages/MasterPage.html' %}
{% block title %}Home{% endblock%}
{% block content %}
{% load staticfiles %}

<div class="row" id="navigationbar">
  <div class = "small-3 columns">
      <a href="{% url 'index' %}" class="button">Tillbaka</a>
  </div>
  <div class="small-3 small-centered columns" id="blacktitle">
    <img src="{{ STATIC_URL }}img/resursborsen.png" />
  </div>
  <!--<div class="large-6 columns">
  </div>
  <div class = "large-3 columns">
    <a href="#" data-reveal-id="myModal" >Publicera erbjudande</a>
    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Publicera erbjudande</h2>
    </div>
    <script type="text/jsx" src="{{ STATIC_URL }}javascripts/postoffer.js"></script>-->
</div>

<div class="row" id="searchbar">
  <div class="small-6 small-centered columns">
    <input type="text" placeholder="Sök" />
  </div>
</div>

<div class="row" id="content">
  <div class="row line_row">
    <div class="small-6 small-centered columns">
      <h4 className="offerCategory">
        <input type="hidden" id="object_category" value={{object.category}} />
        <input type="hidden" id="object_subcategory" value={{object.subcategory}} />
      {% if object.category == "space"  %}
    Utrymme
{% elif object.category == "service" %}
    Tjänster
{% elif object.category == "other" %}
    Övrigt
{% endif %}/
{% if object.subcategory == "storage"  %}
    Lager
{% elif object.subcategory == "office" %}
    Kontor
{% elif object.subcategory == "admin" %}
    Administrativt
{% elif object.subcategory == "other_space" %}
    Övrigt_utrymme
{% elif object.subcategory == "other_service" %}
    Övrigt_tjänst
{% endif %}
      </h4>
    </div>
    <hr />
  </div>
  <div class="large-6 columns" id="imgholder">
    <input type="hidden" id="object_imgfile" value={{ STATIC_URL }}{{object.imgfile}} />
    <img src="{{ STATIC_URL }}{{object.imgfile}}" />
  </div>
  <div class="large-6 columns" id="detailholder">
    <input type="hidden" id="object_id" value={{object.id}} />
    <div class="row">
      <div id="edit_btn">
        <a href="#" class="button right" data-reveal-id="myModal">Redigera</a>

        <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        </div>
        
      </div>
        <h3 className="offerTitle" id="left_title">
          {{object.title}}
        </h3>
        <h4 className="offerLocation" id="offerLocation">
          {% if object.location == "umea"  %}
    Umeå
{% elif object.location == "lycksele" %}
    Lycksele
{% elif object.location == "vannas" %}
    Vännäs
{% endif %}
        </h4>
      
      <div class="row">
        <div class="large-12 columns" id="textholder">
          <p class="offerDescription">
            <pre> <div class="offerDescription"><p id= "offerDescription">{{object.description}}</p></div> </pre>
          </p>
        </div>
      </div>
      
          
          
          <p className="createdUpdated">
            Skapad: {{object.created_at}}.
            <br />
            Uppdaterad senast: {{object.updated_at}}.
          </p>
      <div class="row">
        <div class ="large-3 columns">
          <a href="#" class="button">Dela Annons</a>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <h5 className="offerUser">
            {% if object.user_id.id == 17  %}
            Företag: Team-E.
        {% elif object.user_id.id == 18 %}
            Företag: Pitchbolaget AB.
            {% endif %}
          </h5>
          <p>
            {% if object.user_id.id == 17  %}
            Telefon: 070-00 00 000.
        {% elif object.user_id.id == 18 %}
            Telefon: 070-11 11 111.
            {% endif %}
            <br />
            {% if object.user_id.id == 17  %}
            Adress: E-gatan 100.
        {% elif object.user_id.id == 18 %}
            Adress: Pitchgränd 11
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>      
</div>
<script type="text/jsx" src="{% static 'javascripts/putoffer.js' %}"></script>
{% endblock %}