{% extends 'MasterPages/MasterPage.html' %}
{% block title %}Home{% endblock%}
{% block content %}
{% load staticfiles %}

<div class="row" id="navigationbar">
  <div class = "large-3 columns">
      <a href="{% url 'index' %}" class="button">Tillbaka</a>
  </div>
  <div class="small-3 small-centered columns" id="blacktitle">
    <img src="{{ STATIC_URL }}img/resursborsen.png" />
  </div>
  <!--<div class="large-6 columns">
  </div>
  <div class = "large-3 columns">
    <a href="#" data-reveal-id="myModal" >Publicera erbjudande</a>
    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Publicera erbjudande</h2>
    </div>
    <script type="text/jsx" src="{{ STATIC_URL }}javascripts/postoffer.js"></script>-->
</div>

<div class="row" id="searchbar">
  <div class="small-6 small-centered columns">
    <input type="text" placeholder="Sök" />
  </div>
</div>

<div class="row" id="content">
  <div class="row">
    <div class="small-6 small-centered columns">
    <h4 className="offerCategory">
      {% if object.category == "space"  %}
    Utrymme
{% elif object.category == "service" %}
    Tjänster
{% elif object.category == "other" %}
    Övrigt
{% endif %}/
{% if object.subcategory == "storage"  %}
    Lager
{% elif object.subcategory == "office" %}
    Kontor
{% elif object.subcategory == "admin" %}
    Administrativt
{% elif object.subcategory == "other_space" %}
    Övrigt_utrymme
{% elif object.subcategory == "other_service" %}
    Övrigt_tjänst
{% endif %}
          </h4>
        </div>
  </div>
  <div class="large-6 columns">
    <img src="{{ STATIC_URL }}{{object.imgfile}}" />
  </div>
  <div class="large-6 columns">
    <div class="row">
      <div class="large-8 columns">
        <h2 className="offerTitle">
          {{object.title}}
        </h2>
        <h4 className="offerLocation">
            {{object.location}}
        </h4>
      </div>
      <div class="large-4 columns">
          <ul class="right-button-group">
            <a href="#" class="button">Redigera</a>
      </div>
      <div class="row">
        
        <div class="large-12 columns">
          <p className="offerDescription">
              {{object.description}}
          </p>
        </div>
      </div>
      
          
          
          <p className="createdUpdated">
            Skapad: {{object.created_at}}.
            <br />
            Uppdaterad senast: {{object.updated_at}}.
          </p>
      <div class="row">
        <div class ="large-3 columns">
          <a href="#" class="button">Dela Annons</a>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <h3 className="offerUser">
            {{object.user_id}}
          </h3>

        </div>
      </div>
    </div>
  </div>      
</div>

<hr>

{% endblock %}