{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<script src="{% static 'build/react.js' %}"></script>
		<script src="{% static 'build/JSXTransformer.js' %}"></script>
		<script src="{% static 'build/jquery-1.11.3.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
		<title>Resursbörsen | {% block title %} {% endblock %}</title>
	</head>
	<body>
		
		{% block content %}

		{% endblock %}

	</body>
</html>