{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content="Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more."/>
		<script src="{% static 'build/react.js' %}"></script>
		<script src="{% static 'build/JSXTransformer.js' %}"></script>
		<script src="{% static 'build/jquery-1.11.3.js' %}"></script>
		<script src="{% static 'javascripts/vendor/modernizr.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/templates/foundation.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
		<title>Resursbörsen | {% block title %} {% endblock %}</title>
	</head>
	<body>
		
		{% block content %}

		{% endblock %}
		<footer class="row" id="footer">
  <div class="large-12 columns">
    <hr id="footer_line" />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Copyright Resursbörsen.</p>
      </div>
    </div>
  </div>
</footer>
<script src="{% static 'javascripts/vendor/jquery.js' %}"></script>
<script src="{% static 'javascripts/foundation.min.js' %}"></script>
<script>
    $(document).foundation();
  </script>
<script src="{% static 'javascripts/vendor/jquery.js' %}"></script>
<script src="{% static 'javascripts/foundation/foundation.js' %}"></script>
    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
    
	</body>
</html>