/*
Description: Resursbörsen
Version: 1
*/

/* --- G E N E R A L --- */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700&subset=latin,latin-ext);

body {
  background: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
} 

h1 {
  font-size: 2rem;
  text-align: center;
}

.filter_title {
  margin: 0px;
  margin-bottom: 5px;
  width: 100%;
}

ul {
  list-style-type: none;

}

#selected_tab a {
  background-color: #f7c027;
}

#tab a {
  background-color: #998041;
}

#selected_tab {
  background-color: #f7c027;
}

.filterBox ul {
  margin-left: 0px;
  margin-bottom: 5px;
}

#offer h2 {
  font-size: 1.4rem;
}

#filtersidebar h2 {
  margin-left: 0px;
  font-size: 1.5rem;
}

#filtersidebar li {
  margin-left: 0px;
}

#list-item {
  max-height: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#offerdetail-text {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: -30px;
}

#list-item img {
  margin-top: 20px;
  margin-bottom: 20px;
}

#list-item h2 {
  font-size: 1.4rem;
}

.list_line {
  max-width: 400px;
}

.yellow {
  background-color:#f7c027;
  height: 1px;
}

#header-img {
  max-width: 100%;
  max-height: 300px;
}

#title-img {
  height: 300px;
  background-image: url("../img/verkstad2.png");
  background-position: center;
  background-size: 100%;
}

#theform {
  display:none;
}

#navigationbar {
  padding-top: 10px;
  background-color: #FFFFFF;
}

#searchbar {
  padding-top: 58px;
  padding-bottom: 50px;
  background-color: #3c3c3c;
  max-width: 100%;
}

#content {
  padding-top: 10px;
  padding-bottom: 10px;
}

#edit_btn {
  float: right;
  margin-top: 10px;
}

.offerDescription {
  clear:both;
  max-width: 500px;
}

#title-img {
  padding-top: 80px;
}

h1, h3, h4, h5, h6{
  font-family: 'Source Sans Pro', sans-serif;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #f7c027;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 500px;
}

pre {
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 500px;
}

#textholder p {
  max-width: 500px;
}

.button {
  background-color: #f0b017;
  border-radius: 5px 5px;
  white-space: nowrap;
}

.edit_button {
  color: #f0b020;
  background-color: #fbefaf;
  border-radius: 5px 5px;
  border-width: 1px;
  border-color: #f7c027;
}

.button:hover {
  background-color: #f7c027;
}

.list_row {
  margin-bottom: 15px;
  height: 250px;
}

hr {
  max-width: 1000px;
  margin-left: 15px;
}

#imgholder {
  margin-left: 0px;
  padding-left: 0px;  
}

#detailholder {
  padding-left: 30px;
}

#footer_line {
  width: 1000px;
  margin-left: -15px;
}

#header-navigation {
  margin-top: 15px;
}

.filter-list {
  margin: auto;
  width: 300px;
  background: #3498db;
  border-radius: 5px;
  border: 1px solid darken(#3498db, 20%);
  input {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    border: 0;
    font-size: 24px;
    &:focus {
      outline: none;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin: 0;
      color: white;
      padding: 10px 20px;
      border-top: 1px solid darken(#3498db, 20%);
      &:hover {
        background: #2980b9;
      }
    }
  }
}