{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content="Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more."/>
		<script src="{% static 'build/react.js' %}"></script>
		<script src="{% static 'build/JSXTransformer.js' %}"></script>
		<script src="{% static 'build/jquery-1.11.3.js' %}"></script>
		<script src="{% static 'javascripts/vendor/modernizr.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/templates/foundation.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
		<title>Resursbörsen | {% block title %} {% endblock %}</title>
	</head>
<body>

	<div class="large-3 columns">
    <ul class="left button-group">
      <li><a href="#" class="button">Profil</a></li>
    </div>
  <div class="large-9 columns">
    <ul class="right button-group">
      <li><a href="#" class="button">Link 1</a></li>
      <li><a href="#" class="button">Link 2</a></li>
      <li><a href="#" class="button">Link 3</a></li>
      <li><a href="#" class="button">Link 4</a></li>
    </ul>
  </div>
</div>
 
 
<div class="row">
  <div class="large-12 columns">
      <img src="http://placehold.it/1000x400&amp;text=[%20img%201%20]">
    </ul>
  </div>
</div>
<hr/>

<div class="row">
  <div class="small-12 columns">
    <img src="http://placehold.it/1000x400&amp;text=[%20img%201%20]">
    </ul>
  </div>
</div>


<div class="row" id="container">
  <div class="large-4 columns" id="filtersidebar">
  </div>
</div>
<script type="text/jsx" src="{% static 'javascripts/getofferfilters.js' %}"></script>
<script src="{% static 'javascripts/getofferfilters.js' %}" type="text/jsx"></script>
<div class="large-4 columns" id="listcontainer">
  
</div>
<script type="text/jsx" src="{% static 'javascripts/getofferlist.js' %}"></script>
  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]"/>
    <h4>This is a content section.</h4>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>
</div>
 
<div class="row">
  <div class="large-12 columns" >
    <div class="panel">
      <h4>Get in touch!</h4>
      <div class="row">
        <div class="large-9 columns">
          <p>We'd love to hear from you, you attractive person you.</p>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
 
<footer class="row">
  <div class="large-12 columns">
    <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="{% static 'javascripts/vendor/jquery.js' %}"></script>
<script src="{% static 'javascripts/foundation.min.js' %}"></script>
<script>
    $(document).foundation();
  </script>
<script src="{% static 'javascripts/vendor/jquery.js' %}"></script>
<script src="{% static 'javascripts/foundation/foundation.js' %}"></script>
    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
	</body>
</html>

