{% extends 'MasterPages/MasterPage.html' %}
{% block title %}Home{% endblock%}
{% block content %}
{% load staticfiles %}
	<div class="large-3 columns">
    <ul class="left button-group">
      <li><a href="#" class="button">Profil</a></li>
    </div>
  <div class="large-9 columns">
    <ul class="right button-group">
      <li><a href="#" class="button">Link 1</a></li>
      <li><a href="#" class="button">Link 2</a></li>
      <li><a href="#" class="button">Link 3</a></li>
      <li><a href="#" class="button">Link 4</a></li>
    </ul>
  </div>
</div>
 
 
<div class="row" style="height: 300px; overflow:hidden" id="header-img">
  <div id="title-img" class="large-12 columns">
    <img  src="{% static 'img/verkstad.png' %}" style="width=100%" alt="always use alts">
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <img src="http://placehold.it/1000x400&amp;text=[%20img%201%20]">
  </div>
</div>


<div class="small-3 small-centered columns" id="togglebuttons">
  <ul class="tabs" data-tab>
    <li class="tab-title active" role="presentational" ><a href="#needs" role="tab" tabindex="0" aria-selected="true" controls="needspanel">Sökes</a></li>
    <li class="tab-title" role="presentational" ><a href="#offers" role="tab" tabindex="0" aria-selected="false" controls="offerspanel">Önskas</a></li>
  </ul>
</div>


<hr/>


<div class="row" id="container">
  <div class="small-4 columns" id="filtersidebar">
  </div>
</div>
<script type="text/jsx" src="{% static 'javascripts/getofferfilters.js' %}"></script>
<script src="{% static 'javascripts/getofferfilters.js' %}" type="text/jsx"></script>
<div class="tabs-content">
  <div class="small-4 small-centered columns" id="listcontainer">
    <section role="needspanel" aria-hidden="false" class="content active" id="needs">
      <h2>First panel content goes here...</h2>
    </section>
    <section role="offerspanel" aria-hidden="true" class="content" id="offers">
      <h2>Second panel content goes here...</h2>
    </section>
  </div>
</div>
<script type="text/jsx" src="{% static 'javascripts/getofferlist.js' %}"></script>
  <div class="small-4 columns">
    <img src="http://placehold.it/400x300&text=[img]"/>
  </div>
</div>


<div class="row">
  <div class="large-12 columns" >
    <div class="panel">
      <h4>Get in touch!</h4>
      <div class="row">
        <div class="large-9 columns">
          <p>We'd love to hear from you, you attractive person you.</p>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
 
<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="{% static 'javascripts/vendor/jquery.js' %}"></script>
<script src="{% static 'javascripts/foundation.min.js' %}"></script>
<script>
    $(document).foundation();
  </script>
<script src="{% static 'javascripts/vendor/jquery.js' %}"></script>
<script src="{% static 'javascripts/foundation/foundation.js' %}"></script>
    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>


<form>
  <div class="row">
    <div class="large 12 columns">
      <label>
        <input type="text" placeholder="large.12.columns"/>
      </label>
    </div>
  </div>
</form>
{% endblock %}
