{% extends 'MasterPages/MasterPage.html' %}
{% block title %}Home{% endblock%}
{% block content %}
{% load staticfiles %}
<div class="row" id="header-navigation">
	<div class="large-3 columns">
      <a href="#" class="button">Profil</a>
  </div>
  <div class="large-9 columns">
    <a href="#" class="button right" data-reveal-id="myModal">Tryck här för att publicera ett erbjudande!</a>

    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Publicera erbjudande</h2>
    </div>
    
  </div>
</div>
 
 
<div class="row" style="height: 300px; width:100%" id="header-img">
  <div id="title-img" class="large-12 columns">
    <div class="small-4 small-centered columns" style="vertical-align: middle;" id="whitetitle">
      <img src="{{ STATIC_URL }}img/resursborsen_white.png" id="title_img"/>
    </div>
  </div>
</div>

<div class="small-12 columns" id="searchbar">
  <div class="small-8 small-centered columns" id="searchcontainer">
    <input type="text" placeholder="Sök"/>
  </div>
</div>

<div class="small-3 small-centered columns" id="togglebuttons">
  <ul class="tabs" data-tab>
    <li class="tab-title active" role="presentational"><a href="#needs" role="tab" tabindex="0" aria-selected="true" controls="needspanel">Sökes</a></li>
    <li class="tab-title" role="presentational"><a href="#offers" role="tab" tabindex="0" aria-selected="false" controls="offerspanel">Erbjuds</a></li>
  </ul>
</div>



<div class="small-9 small-centered columns" id="offers">
  <div class="small-3 columns" id="filtersidebar">
  </div>
  
    
    <div class="small-9 columns">
      <div class="tabs-content" id="listcontainer">
        <div role="offerspanel" aria-hidden="false" class="content" id="offerslist">
        </div>
      </div>
    
  </div>
</div>
 
 <div class="small-9 small-centered columns" id="needs">
  <div class="small-3 columns" id="needfiltersidebar">
  </div>
    
    <div class="small-9 columns">
      <div class="tabs-content" id="needlistcontainer">
        <div role="needspanel" aria-hidden="false" class="content active" id="needslist">
        </div>
      </div>
    
  </div>
</div>

<script type="text/jsx" src="{% static 'javascripts/postoffer.js' %}"></script>
<script type="text/jsx" src="{% static 'javascripts/getofferfilters.js' %}"></script>
<script type="text/jsx" src="{% static 'javascripts/getneedfilters.js' %}"></script>
<script type="text/jsx" src="{% static 'javascripts/getofferlist.js' %}"></script>
<script type="text/jsx" src="{% static 'javascripts/getneedlist.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/switchtabs.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/switchfilters.js' %}"></script>

{% endblock %}
